<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>

    <link href="components/angular-material/angular-material.css" rel="stylesheet" type="text/css" />
    <link href="src/styles/ctt.directives.css" rel="stylesheet" type="text/css" />

</head>

<body ng-controller="demoCtrl">

    <h3>Pivot Grid</h3>

    <md-card>

        <ctt-pivot-grid ng-model="pivotGrid.dataSource"
                        row-property-bind="'month'"
                        row-additional-info-property-bind="'monthReference'"
                        row-label-decorate-fn="decorateRowLabel"
                        column-property-bind="'day'"
                        column-init-value="4"
                        column-order-fn="sort"
                        cell-text-property-bind="'label'"
                        cell-tooltip-property-bind="'desc'"
                        cell-style-fn="stylizeCell"
                        cell-bg-color-property-bind="'color'"
                        dbl-click-fn="dblClick"
                        borderless="true">
        </ctt-pivot-grid>

    </md-card>

    <h3>Iframe Content Injector</h3>

    <md-card>
        <iframe ctt-iframe-content-injector content="{{htmlContent}}"></iframe>
    </md-card>

    <h3>Simple table</h3>

    <md-card>
        <ctt-table columns="table.QueryResult.Columns" rows="table.QueryResult.Rows"></ctt-table>
    </md-card>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/angular-aria/angular-aria.js"></script>

    <script src="components/angular-material/angular-material.js"></script>

    <script src="components/lodash/lodash.js"></script>
    <script src="src/ctt.directives.js"></script>
    <script src="index.js"></script>

</body>

</html>