@import "common/mixings";

.ctt {

  .borderless {
    border: 0 !important;
  }

  &.ctt-pivot-grid {
    border-collapse: collapse;
    width: 100%;

    .ctt-column-empty {
      border: 0;
    }

    .ctt-row-label {
      border: 1px #eee solid;
      padding-left: 6px;
    }

    .ctt-column-item {
      border: 1px #eee solid;
      padding: 8px 0;
      width: auto;
      min-width: 15px;
      text-align: center;

      &:hover .ctt-tooltip {
        display: block;
        z-index: 1235;
      }

      & .ctt-tooltip {
        display: none;
        position: absolute;
        background-color: rgba(0,0,0,0.74);
        color: white;
        border-radius: 4px;
        font-weight: 500;
        font-size: 11px;
        line-height: 22px;
        padding: 8px 12px;
        margin-top: -10px;
        margin-left: 125px;
        text-align: left;
      }

    }


    .ctt-row-item {
        width: auto;
        height: auto;
    }

    .ctt-row-column-labels {
        width: auto;
        height: auto;
    }

  }

  &.ctt-table {
    width: 100%;
    border-collapse: collapse;

    & th {
      background-color: #1565C0;
      color: #fff;
      text-align: left;
    }

    & th, td {
      border: 2px transparent solid;
      padding: 5px 8px 5px 8px;
    }

    & tr:nth-child(odd){
      background-color: #eee;
    }

    & tr:nth-child(even){
      background-color: #fff;
    }

  }
}