.ctt .borderless {
  border: 0 !important; }
.ctt.ctt-pivot-grid {
  border-collapse: collapse;
  width: 100%; }
  .ctt.ctt-pivot-grid .ctt-column-empty {
    border: 0; }
  .ctt.ctt-pivot-grid .ctt-row-label {
    border: 1px #eee solid;
    padding-left: 6px; }
  .ctt.ctt-pivot-grid .ctt-column-item {
    border: 1px #eee solid;
    padding: 8px 0;
    width: auto;
    min-width: 15px;
    text-align: center; }
    .ctt.ctt-pivot-grid .ctt-column-item:hover .ctt-tooltip {
      display: block;
      z-index: 1235; }
    .ctt.ctt-pivot-grid .ctt-column-item .ctt-tooltip {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.74);
      color: white;
      border-radius: 4px;
      font-weight: 500;
      font-size: 11px;
      line-height: 22px;
      padding: 8px 12px;
      margin-top: -10px;
      margin-left: 125px;
      text-align: left; }
  .ctt.ctt-pivot-grid .ctt-row-item {
    width: auto;
    height: auto; }
  .ctt.ctt-pivot-grid .ctt-row-column-labels {
    width: auto;
    height: auto; }
.ctt.ctt-table {
  width: 100%;
  border-collapse: collapse; }
  .ctt.ctt-table th {
    background-color: #1565C0;
    color: #fff;
    text-align: left; }
  .ctt.ctt-table th, .ctt.ctt-table td {
    border: 2px transparent solid;
    padding: 5px 8px 5px 8px; }
  .ctt.ctt-table tr:nth-child(odd) {
    background-color: #eee; }
  .ctt.ctt-table tr:nth-child(even) {
    background-color: #fff; }

/*# sourceMappingURL=ctt.directives.css.map */
