@mixin centered($h, $v) {

  $value: null;

  @if ($v == true) {
    top: 50%;
    $value: -50%;
  }

  @if ($h == true) {
    left: 50%;
    $value: -50%;
  }

  @if (($v == true) and ($h == true)){
    $value: -50%, -50%;
  }

  @if ($value != null) {
    -webkit-transform: translate($value);
    -moz-transform: translate($value);
    -ms-transform: translate($value);
    -o-transform: translate($value);
    transform: translate($value);
    position: relative;
  }

}